<!-- 
<mat-grid-list cols="2">
    <mat-grid-tile>
        <img src="../../assets/images/wallpaper2you_95793.jpg" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
        <div id="login">
            <h1>Sign-in</h1>
            <form [formGroup]="LoginForm" (ngSubmit)="loggedin()">
                <div>
                    <mat-form-field appearance="outline" class="form-value">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" [class.is-invalid]="getEmail.invalid && getEmail.touched">
                        <mat-error *ngIf="getEmail.errors?.['required']">Email is Required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="form-value">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" [class.is-invalid]="getPassword.invalid && getPassword.touched">
                        <mat-error *ngIf="getPassword?.errors?.['required']">Password is Required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button id="button" color="accent" (click)="openSnackBar()">Login</button>
                </div>
            </form>
        </div>
    </mat-grid-tile>
</mat-grid-list>   -->